/.vscode
/amazon.png
/architect.png
/banner.png
/customers.png
/email.png
/figma.png
/g3-architects.fig
/g3-architects.pdf
/google.png
/projects.png
/ribon.png
/spotify.png
/team1.png
/team2.png
/team3.png
/team4.png
/telerama.png